## COPIA ESTE DOCUMENTO Y RENOMBRALO DE .env.example A .env
## PIDE LAS VARIABLES DE ENTORNO AL ADMINISTRADOR DEL REPOSITORIO
## lAS VARIABLES SON NECESARIAS PARA EL CORRECTO FUNCIONAMIENTO DEL CODIGO

# SUPABASE KEYS
EXPO_PUBLIC_SUPABASE_URL=""
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
EXPO_SUPABASE_ANON_KEY=""

# AES SECRET KEY
EXPO_PUBLIC_AES_SECRET_KEY=""
